<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="container">
        <form action="/" method="POST" class="form-group">
            <label for="title" class="form-control">Login</label>
            <input type="email" name="email" id="eml" class="form-control">
            <input type="password" name='password' id='pwd' class="form-control">
            <button type="submit" style="background-color: green;" class="form-control">Login</button>
        </form>
        <button onclick="location.href='/register.html'" style="background-color: blue;">New User</button>
    </div>
</body>